# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# Dependencies
node_modules
bower_components

# Compiled files
.tmp
.sass-cache
dist

# Private files
config.json
.ftppass
